@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060610;
    --foreground: #ededed;
  }
}

body {
  color: #ededed;
  background: #060610;
  font-family: Arial, Helvetica, sans-serif;
}

.landing-bg {
  background-image: url("../../public/bg-frame.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-bg {
  background-image: url("../../public/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 75%;
  width: 100%;
}

.bg-testimonial {
  background-image: url("../../public/bg-testimonials.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

.typing-effect {
  display: inline-block;
  border-right: 2px solid #caff00; /* Cursor effect */
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 5s steps(40, end) infinite, blink 0.75s infinite;
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 6px solid black;
  border-right-color: #caff00;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
